@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        @apply bg-brand-blue-dark;
        @apply text-white;
    }
}

html{
    font-size: 16px;
}

h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}